<footer class="d-flex flex-row-nowrap justify-content-center p-20">
	<div class="content p-20">
			<a href="{{ path('app_contact_info') }}" class="btn btn-primary mr-5">Inscription</a>
		<p>© Roqua, Inc. 2023
		</p>
	</div>
</footer>
