<footer class="d-flex flex-row-nowrap justify-content-center p-20">
	<div class="content p-20">
		<p><a class="footer-brand" href=""><strong>Roqua</strong></a> © 2022 SIO ltd. Tous droits réservés | <a href="">Mentions légales</a> | <a href="" >Contacts</a> |  
		</p>
	</div>
</footer>