<div class="sidebar d-flex flex-column">
	<a href="{{ path('question_form') }}" class="btn btn-primary btn-icon-primary">
		<i class="fas fa-question mr-5"></i>
		<span>
			Poser une question</span>
	</a>
	<ul class="sidebar-nav py-20">
		<a href="{{ path('home') }}" {% if app.request.pathinfo == path('home') %}class="active"{% endif %}
		>
			<i class="fas fa-home mr-5"></i>
			Liste des questions
		</a>
	</ul>
</div>
