<div class="sidebar d-flex flex-column mr-50">
  <a href="{{ path('question_form') }}" class="btn btn-primary btn-icon-primary">
  <i class="fas fa-question mr-5"></i>
  <span>Poser une question</span>
  </a>
  <ul class="sidebar-nav py-20">
  {# On ajoute la classe active uniquement si nous sommes sur la liste des questions (donc si nous sommes sur la route home). #}   
  <a href="{{ path('home') }}" {% if app.request.pathinfo == path('home') %} class="active" {% endif %}>
    <i class="fas fa-home mr-5"></i>
    Liste des questions
  </a>
  <a href="#">
    <i class="fas fa-pen mr-5"></i>
    Mes questions
  </a>
  <a href="#">
    <i class="fas fa-puzzle-piece mr-5"></i>
    Mes réponses
  </a>
  </ul>
</div>